

  <div class="row">
    <div class="large-12 columns">
      <div class="hide-for-small">
        <div id="featured">
        </div>
      </div>

      <div class="row">
        <div class="small-12 show-for-small"><br>
          <div id="featured-small">
          </div>
        </div>
      </div>
    </div>
  </div><br>

  <div class="row">
    <div class="large-12 columns">
      <div class="row">

        <div class="large-3 small-6 columns">
          <div class="mini-1"></div>
          <h6 class="panel">Description</h6>
        </div>

        <div class="large-3 small-6 columns">
          <div class="mini-2"></div>
          <h6 class="panel">Description</h6>
        </div>

        <div class="large-3 small-6 columns">
          <div class="mini-3"></div>
          <h6 class="panel">Description</h6>
        </div>

        <div class="large-3 small-6 columns">
          <div class="mini-4"></div>
          <h6 class="panel">Description</h6>
        </div>

      </div>
    </div>
  </div>
