/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/jquery.dataTables.foundation
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome

 */

.alert-box.alert {
 border-radius: 5px;
 background-color: rgba(217, 30, 24, 1);
 z-index: 99;
 position: absolute;
}

.alert-box.notice {
 border-radius: 5px;
 background-color: rgba(217, 30, 24, 1);
 z-index: 99;
 position: absolute;
}

.alert-box.success {
 border-radius: 5px;
 background-color: rgba(30, 130, 76, 1);
 z-index: 99;
 position: absolute;
}

.alert-box.info {
 border-radius: 5px;
 color: #fff;
 background-color: rgba(52, 152, 219, 1);
 z-index: 99;
 position: absolute;
}

.alert-box .close {
 background: transparent;
 color: #fff;
 font-size: 2rem;
 top: 19px;
 z-index: 99;
 position: absolute;
}

.search h5 {
  margin: 10px 0;
  color: white;
}

.tiny {
  max-width: 235px;
}

.create {
  background-color: #F17400;
}

.create:hover {
  background-color: #BF5C00;
}

.create-row .create {
  margin-bottom: 0;
}

.bullet-item li button {
  margin-left: auto;
  margin-right: auto;
}

.join {
  background-color: #43A047;
  max-width: 235px;
}

li .join {
  max-width: 200px;
}

.join:hover {
  background-color: #2E7D32;
}

.leave {
  background-color: #E53935;
  max-width: 200px;
}

.leave:hover {
  background-color: #C62828;
}

.delete {
  background-color: #7E57C2;
  max-width: 200px;
}

.delete:hover {
  background-color: #512DA8;
}

/* Datatables Styling */
.dataTables_wrapper {
  max-height: 500px;
}

.dataTables_wrapper a {
  color: #00695C;
  font-weight: bolder;
}

.dataTables_wrapper a:hover {
  color: #4DB6AC;
}

table.dataTable td.sorting_1{ background-color: #FFB74D; border:0 lightgrey; }
table.dataTable td{ background-color: #B2DFDB;  border:0 lightgrey;}
table.dataTable tr.odd { background-color: #B2DFDB;  border:0 lightgrey;}
table.dataTable tr.even{ background-color: #B2DFDB; border:0 lightgrey; }
