body {
  background-color: #bdc3c7;
}

#featured {
  background-color: #1abc9c;
  height: 388px;
  width: 100%;
}

#featured-small {
  background-color: #1abc9c;
  height: 388px;
  width: 100%;
}

.large-3 img {
  width: 100%;
}
