body {
  background: image_url("gray_gradient.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

nav {
  margin-top: 15px;
}

h1 {
  color: white;
  margin-top: 0;
  padding: 15px 0 25px 0;
}

h3 {
  color: white;
}

.main-head {
  padding-bottom: 0;
}

.logo img {
  width: 40px;
  margin: 3px 0 0 8px;
}

.t-logo img {
  width: 55px;
  padding-bottom: 5px;
}

.sign-in a {
  text-align: center;
  background-color: #34495e;
}

#team {
  background: image_url("success_team.png");
  background-size: cover;
  height: 150px;
  width: 150px;
}

.site-footer {
  background-color: #34495e;
  color: white;
}

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
	margin-bottom: -99px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
	height: 65px;
  margin-top: 10px;
}

#featured {
  background-color: #1abc9c;
  height: 400px;
  width: 100%;
  text-align: center;
}

.large-3 {
  height: 220px;
  margin: 8px 0 8px 0;
  transition: all .15s ease-in-out;
}

.large-3:hover {
  opacity: 0.7;
  transform: scale(1.08);
  z-index: +1;
}

.large-3 .mini-1 {
  background-color: #e74c3c;
  width: 100%;
  padding: 67.5px 0 67.5px 0;
}

.large-3 .mini-2 {
  background-color: #3498db;
  width: 100%;
  padding: 67.5px 0 67.5px 0;
}

.large-3 .mini-3 {
  background-color: #9b59b6;
  width: 100%;
  padding: 67.5px 0 67.5px 0;
}

.large-3 .mini-4 {
  background-color: #e67e22;
  width: 100%;
  padding: 67.5px 0 67.5px 0;
}

#soccer {
  background: image_url("soccer_ball.png");
  background-size: cover;
  height: 85px;
  width: 85px;
}

#basketball {
  background: image_url("basketball.png");
  background-size: cover;
  height: 85px;
  width: 85px;
}

#football {
  background: image_url("american_football.png");
  background-size: cover;
  height: 85px;
  width: 85px;
}

#tennis {
  background: image_url("tennis.png");
  background-size: cover;
  height: 85px;
  width: 85px;
}

.pricing-table {
  border: 0;
  min-width: 600px;
}

.pricing-table .title {
  padding: 0;
  width: 100%;
  height: auto;
}

.pricing-table .price {
  text-align: left;
}

.pricing-table .bullet-item {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  margin-top: 0;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
